.col{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}


.container{
    width:80%;
    height:80%;
    border: 2px solid black;
}


.color-1{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    margin: 0 auto;
    border: 1px solid rgb(48, 236, 158);
    background-color: rgb(48, 236, 158);
}
.color-2{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    margin: 0 auto;
    border: 1px solid rgb(100, 200, 240);
    background-color:  rgb(100, 200, 240);
}
.color-3{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    margin: 0 auto;
    border: 1px solid rgb(58, 58, 247);
    background-color:  rgb(58, 58, 247) ;
}
.color-4{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    margin: 0 auto;
    border: 1px solid rgb(41, 41, 131);
    background-color:rgb(41, 41, 131);
}